﻿ejemplo para audios y videos

<div>
<video controls="controls" widht="400" height="300">
<source id="mp4_src"
  src="video.mp4"
  type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
</source>
<embed src="C:\Users\ZORG\Desktop\WEB PAGE\audio\Eminem   Beautiful Pain feat Sia (Lyrics) HD.ogg" autostart="false" loop="true"  hidden="false">
<source src="C:\Users\ZORG\Desktop\WEB PAGE\audio\Eminem   Beautiful Pain feat Sia (Lyrics) HD.ogg" type="video/ogg">
</video>


<style="position: relative; width: 640px;">
<video id=0 controls="controls" width="640" height="360">
<source src="emi vid.ogv" type='video/ogg; codecs="theora, vorbis"'/>
<source src="emi vid.webm" type='video/webm' >
<source src="emi vid.mp4" type='video/mp4'>
</video>
</div>